<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>To-Dos</h1>
  <% @todos.each do |todo| %>
    <div style='display:flex;flex-direction:column;'>
        <p>Title: <%=  todo.title  %> </p> 
        <p>Description: <%=  todo.description  %></p>
        <p>Status: <%=  todo.status  %></p>
        <br>
    </div>
  <% end %>
  <p>
    <%= link_to 'Create New Todo Item', new_todo_path %>
  </p>
    <%= yield %>
  </body>
</html>
